* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
}

body {
	cursor: default;
	line-height: normal!important;
	margin: 0;
	-webkit-user-select: none;
	overflow: hidden;
    height: 100%;
}

a { text-decoration: none!important; }

hr{
	margin: 0;
	border-top: 1px solid rgba(0,0,0,.30);
	border-bottom: 1px solid rgba(255,255,255,.20);
}

section{
    height: 100%;
    width: 100%;
}

#colorpicker{
    display: block;
    width: 200px;
    height: 170px;
    background-color: green;
    padding: 10px;
    /*overflow: hidden;*/
}