* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
}

body {
	cursor: default;
	line-height: normal!important;
	margin: 0;
	-webkit-user-select: none;
	overflow: hidden;
    height: 100%;
}

a { text-decoration: none!important; }

hr{
	margin: 0;
	border-top: 1px solid rgba(0,0,0,.30);
	border-bottom: 1px solid rgba(255,255,255,.20);
}

main{
}

section{
    height: 100%;
    width: 100%;
}







.page-1{}

#colorpicker{
    display: block;
    width: 100%;
    height: 170px;
    padding: 10px;
}


#shading{
    width: 200px;
    /*height: 300px;*/
    margin: 0 auto;
    padding-left: 9px;

    /*background-color: green;*/
    height: calc(100% - 205px);
    overflow: hidden;
}

#shading a{
    font-size: 12px;
    display: block;
    height: 30px;
    line-height: 34px;
}

#shading ul{
    list-style: none;
    display: block;
    width: 182px;
    height: 26px;
    margin: 0;
    box-shadow: 0 0 0 1px HSL(0, 0%, 10%),0 0 0 2px rgba(255,255,255,0.1);
}

#shading ul li{
    width: 26px;
    height: 26px;
    display: block;
    float: left;
    background-color: gray;
}

#shading ul li.selected{
    box-shadow: inset 0 0 0 1px white, inset 0 0 0 2px black;
}

















.page-2{}



#colorpalette{
    width: 100%;
    height: calc(100% - 35px);
    overflow: hidden;
    padding-bottom: 50px;
}


#colorpalette .color-set .container{
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 0 1px HSL(0, 0%, 10%),0 0 0 2px rgba(255,255,255,0.1);
    background-color: black;
    -webkit-transition: all 0.2s ease-out;
}

#colorpalette .color-set .container.collapse{
    height: 0px;
    box-shadow: none;
}

#colorpalette .color-set .toggle{
    height: 30px;
}

#colorpalette .color-set .toggle .title{
    display: inline;
    margin-left: 20px;
    line-height: 30px;
    font-size: 12px;
}

#colorpalette .triangle{
    font-size: 22px;
    margin: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-indent: 0;
    margin: 0;
    float: left;
    position: relative;
    top: 12px;
    left: 12px;
    -webkit-transform: rotate(180deg);
    -webkit-transition: all 0.1s ease-out;
}

#colorpalette .triangle.collapse{
    -webkit-transform: rotate(90deg);
    top: 9px;
}

#colorpalette .color-set .container a{
    float: left;
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-out;
}

#colorpalette .color-set .container a:active{
    opacity: 0.75;
}






#flatuicolor .container{
    height: 160px;
}
#flatuicolor .container a{
    width: 20%;
    height: 40px;
}

#google .container{
    height: 160px;
}
#google .container a{
    width: 20%;
    height: 40px;
}

#bootstrap .container{
    height: 40px;
}
#bootstrap .container a{
    width: 20%;
    height: 40px;
}

#ios .container{
    height: 25px;
}
#ios .container a{
    width: 12.5%;
    height: 25px;
}

#base16 .container{
    height: 25px;
}
#base16 .container a{
    width: 12.5%;
    height: 25px;
}

#gray .container{
    height: 20px;
}
#gray .container a{
    width: 10%;
    height: 20px;
}





#google .toggle{
    width: calc(100% - 75px);
    display: inline-block;
    float: left;
}

#google .ctrl{
    position: absolute;
    display: inline-block;
    width: 74px;
    margin-top: 5px;
    right: 0;
    float: right;
    -webkit-transition: all 0.1s ease-out;
}

#google .ctrl.hide{
    opacity: 0;
}

#google .ctrl a{
    display: inline-block;
    float: left;
}

#google .ctrl .level{
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#google .ctrl .btn{
    width: 20px;
    height: 20px;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

.transparent{
    float: left;
    position: relative;
    width: 20%;
    height: 40px;
    background-repeat: repeat;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYV2P4//+/FBbMgI4ZhohCbBhD81BQCAD6ay/4Sj20ZAAAAABJRU5ErkJggg==); 
}








.page-3{
    text-align: center;
}

.page-3 .about h3{
    margin: 0;
    margin-top:10px;
}

.page-3 .about a{
    padding: 10px;
    margin: 0;
    opacity: 0.5;
    font-size: 12px;
}

.page-3 .about .email{
    text-decoration: underline !important;
}



.page-3 .trial p{
    background-color: rgba(0,0,0,0.25);
    padding: 10px;
}


